*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
  font-family: Rachela;
  src: url("./Yes\ Reiko\ -\ Personal\ Use.otf");
}

body{
    background-image: url('./img/hero/potential-hero5.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

nav{
    font-family: Rachela;
    text-align: center;
    color: aliceblue;
    font-size: 70px;
}

header{
    background: rgba(46, 43, 43, 0.7);
    margin: 0px 0px;
     display: flex;
    align-items: center;
    flex-direction: column;
}


.landing_page{    
    height: 94vh;
}

.tabs{
    display: flex;
    margin: 30px 0px;
    color: aliceblue;
}

.tab{
    cursor: pointer;
}

.change{
    /* background: rgba(46, 43, 43, 0.6); */
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    width: fit-content;
    margin: 0px auto;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 30px;
    color: aliceblue;
    height: 50vh;
}

.main-menu{
    width: 900px;
    margin-top: 30px;
    margin: 20px auto;
    width: 70vw;
    height: 400px;
    background: rgba(46, 43, 43, 0.6);
    border-radius: 10px;
}

.heading{
    padding-top: 30px !important;
    font-size: x-large;
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
}

.card{
    width: 170px;
    background-color: rgb(65, 62, 60);
    height: 250px;
    border-radius: 10px;
}

.order{
    height: 30px;
    padding: 2px 10px;
    border: 1px none red;
    border-radius: 10px;
    margin-top: 30px;
    background: white;
}

.copyright{
position: relative;
width: 100vw !important;
width: 50%;
display: flex;
justify-content: center;
font-family: sans-serif;
color: white;
}

img{
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.body{
    width: 89%;
    color: aliceblue;
    height: 125px;
    margin: 0px auto;
    font-family: sans-serif;
    font-size: smaller;
    /* padding: 0px 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buy{
    width: 70px;
    border: none;
    height: 20px;
    border-radius: 3px;
    background-color: rgba(253, 245, 245, 0.712);
    cursor: pointer;
}

.contact{
    width: 900px;
    padding: 30px 30px;
    margin-top: 30px;
    margin: 20px auto;
    width: 70vw;
    height: 400px;
    background: rgba(46, 43, 43, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
}

.email{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: sans-serif;
    color: aliceblue;
}

.reachus{
    width: 40%;
    font-family: sans-serif;
    color: aliceblue;
}

.contactus{
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.contactus h2{
    margin-bottom: 5px;
    font-family: sans-serif;
}

input{
    height: 30px;
    margin-bottom: 10px;
}

label{
    margin-bottom: 10px;
}

.reachus > h3{
    margin-bottom: 10px;
}

.heads {
    margin-bottom: 10px;
}

.number{
    margin-bottom: 15px;
}

.active{
    border-bottom: 2px solid white;
}

.num1{
    display: flex;
}

.num2{
    display: flex;
}

.em{
    display: flex;
}


i{
    margin-right: 5px;
}


@media only screen and (max-width: 700px) {
    .menu{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .card {
        margin-bottom: 20px;
    }

    .main-menu{
        overflow-y: scroll;
    }

    .contact{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .email{
        width: 100%;
        margin-bottom: 20px;
    }

    .reachus{
        width: 100%;
    }
}